#loginPage {
    grid-area: mainDivArea;
    display: flexbox;
    flex-direction: column;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#addNewMovementForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background: #cdcdcda6;
    text-align: center;
}